@import url(./animation.css);

:root {
    --vp-home-hero-name-color: #ec9b62;
    --vp-button-brand-bg: #060d1f;
    --vp-button-alt-bg: #ec9b62;
    --vp-c-brand-1: #ec9b62;
    --vp-c-indigo-2: #95989c;
    --vp-button-alt-text: #fff;
    /* 状态颜色 */
    --vp-badge-info-border: transparent;
    --vp-badge-info-text: var(--vp-c-text-2);
    --vp-badge-info-bg: var(--vp-c-default-soft);

    --vp-badge-tip-border: transparent;
    --vp-badge-tip-text: #fff;
    --vp-badge-tip-bg: #292d3e;

    --vp-badge-warning-border: transparent;
    --vp-badge-warning-text: #fff;
    --vp-badge-warning-bg: #41b883;

    --vp-badge-danger-border: transparent;
    --vp-badge-danger-text: #fff;
    --vp-badge-danger-bg: #ff102f;
}

body {
    transition: background-color 15s ease;
}

.active {
    font-size: 20px !important;
}

pre {
    overflow-x: scroll !important;
}

.animation-opacity {
    transition: opacity 0.8s;
}


.light-banner,
.dark-banner {
    position: absolute;
    right: 0;
    top: 0;
}

.light-banner-enter-active,
.light-banner-leave-active {
    transition: all 0.7s ease;
    z-index: 10;
}


.light-banner-leave-to,
.light-banner-enter-from {
    opacity: 0;
    z-index: -10;
}


.dark-banner-enter-active,
.dark-banner-leave-active {
    transition: all 1s ease;
    z-index: 10;
}

.dark-banner-enter-from,
.dark-banner-leave-to {
    opacity: 0;
    z-index: -10;
}

.title-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: 600;
    min-height: 200px;


}

.title-wrap .title {
    font-size: 36px;
}

.mb {
    margin-bottom: 40px;
}

@media screen and (max-width: 960px) {
    .title-wrap {
        justify-content: end;
        min-height: 100px;
    }

    .title-wrap .title {
        font-size: 18px;
    }

    .mb {
        margin-bottom: 0px;
    }

    .text-pop-up-top {
        animation: unset;
    }
}